---
layout: default
title: "Home"
---

<head>
  <style>
    .standard-format
    {
      margin: 0em;
      padding: 0em 5em;
    }

    article h1
    {
      font-size: 2em;
      margin-bottom: 0.2em;
    }
    article p
    {
      font-size: 1.1em;
      margin-top: 0;
    }
    article a:hover
    {
      color: #0056b3;
      text-decoration: none;
    }

    .DropdownDiv
    {
      text-align: justify;
      margin-top: 0;
      margin-bottom: 1em;
      display: none;
    }
    .DropdownPoint
    {
      margin-bottom: 0;
      cursor: pointer;
    }
    .DropdownPoint:hover
    {
      color: #0056b3;
    }
  </style>
</head>

<article class="standard-format">
  <h1>
    Brief Introduction
  </h1>
  <p>
    Hello! My name is Henry Stephenson; welcome to my website! I'm a 22-year-old Bioengineering student at McGill University with minors in Applied Artificial 
    Intelligence and Finance (Desautels Management). 
    <br>
    <br>
    I have a keen interest in biological and biomedical research and entrepreneurship, and I enjoy studying linguistics, language (especially French 
    and German), classical music, Roman history, architecture, and computer science/AI. I used to play soccer at a semi-professional level and have a love of
    sports.
    <br>
    <br>
    I've worked in four laboratories during my undergraduate studies: <a style="border-bottom:2px dotted;" href="https://www.bakerlab.org/"> David Baker Lab 
    at the Institute for Protein Design</a>, the <a style="border-bottom:2px dotted;" href="https://www.dorvallab.com/"> Dorval Lab of Biomaterials and 
    Biodevices</a>, the <a style="border-bottom:2px dotted;" href="https://2023.igem.wiki/mcgill/">McGill iGEM 
    Laboratory</a>, and <a style="border-bottom:2px dotted;" href="https://lmp.utoronto.ca/faculty/mario-ostrowski">Ostrowski Lab at U of T</a>. 
    More recently, I've also completed an internship at <a style="border-bottom:2px dotted;" href="https://nomic.bio/">Nomic Bio</a> on their Assay 
    Engineering and R&D Team. Learn more about my research experiences below.
    <br>
    <br>
    <!-- Dorval Lab -->
    <h3 class="DropdownPoint" onclick="OpenDropdown(this)">&#11166; Dorval Laboratory</h3>
    <div class="DropdownDiv">
      <p style="margin-left: 50px;">During my time at the Dorval Lab, I was primarily working with Dalia Saldanha on heat- and pH-sensitive biomaterials for biocompatible wearable
        sensor applications. My work culminated in a second authorship on <a style="border-bottom:2px dotted;" href="https://pubs.acs.org/doi/10.1021/acssynbio.4c00808">
        Saldanha et al., ACS Synthetic Biology</a>.</p>

      <p style="margin-left: 50px;">For this publication, Dalia and I developed engineered curli fibres (extracellular E. coli-based protein fibres) to be pH sensitive using pHuji fluorescent protein. 
        We also took advantage of E. coli's native pHS promoter, a heat shock promoter that is specifically induced between 37C to 43C, to produce another fluorescent reporter
        in the presence of beyond-homeostatic temperatures (which might be an indicator of infection or cancer in a local area). We fundamentally created whole-cell 
        temperature sensors that could be embedded into the pH-sensitive curli fibre matrix for dual temperature and pH monitoring using living sensors and biomaterials.
        This work paves the way for smart, living, bioresponsive textiles</p>

      <center><img src="/assets/images/dorval_img1.jpeg" class="project-image" alt="Dorval Figure 1 Placeholder" style="width:80%" style="margin-left: 50px;"></center>
      <center><div class="image-caption" style="margin-left: 50px;">Cartoon graphical abstract of dual responsive biosensor.</div></center>
      <br>
      <br>
      <p style="margin-left: 50px;">The project was partially funded by Lululemon, because they were interested initially in developing temperature-sensitive biocompatible textiles which
        might be useful for clothing that naturally releases pleasant odours when skin temperature or pH changes (maybe indicative of a hard workout or sweat). 
        While our project eventually led to more biomedical applications, this is still an interesting potential application of the work. However, the medical 
        applications may be more promising. After all, wearable, minimally invasive, biocompatible dual sensors for pH and temperature are essential for 
        monitoring patients or could be applied for rapid diagnosis of disease. Our work opens the door for genetically customizable, multifunctional biomaterial
        sensors. </p>

      <center><img src="/assets/images/dorval_img2.jpeg" class="project-image" alt="Dorval Figure 2 Placeholder" style="width:80%" style="margin-left: 50px;"></center>
      <center><div class="image-caption" style="margin-left: 50px;">Whole cell temperature sensor with response curves at different temperatures. T7: negative control, pHS: experimental unit.</div></center>
      <br>
    </div>

    <!-- McGill iGEM -->
    <h3 class="DropdownPoint" onclick="OpenDropdown(this)">&#11166; McGill iGEM Laboratory</h3>
    <div class="DropdownDiv">
      <p style="margin-left: 50px;">
        Back in 2022, I started helping out on McGill iGEM and quickly rose through the ranks to become a team lead alongside my (now) roommate and a friend who
        just started his PhD down at Harvard. After some months as the team's Finance Director, I had raised over $150,000 in funding, which both allowed our team
        to develop a CRISPR-Cas-based pancreatic cancer therapeutic from scratch and test it in eukaryotes as well as entirely fund 14 McGillians to travel to Paris, 
        France to present our work at the iGEM Competition, where we competed against over 350 university teams. Our project ended up winning the top prize, 
        outcompeting projects from schools like Harvard, Yale, MIT, Stanford, Tsinghua, Peking, IITs, EPFL, etc. (who all competed that year). After being announced as
        the winners, we delivered a 15-minute presentation to over 5000 audience members. I also personally wrote a manuscript on our scientific work and more than 100-page
        business plan for how our team would commercialize our product. See the business plan, manuscript, and our winning pitch presentation below.
      </p>

      {% include embedpdf.html file="../assets/other/igem_bp.pdf" %}
      {% include embedpdf.html file="../assets/other/igem_manuscript.pdf" %}
      <p style="margin-left: 50px;">
        <center>
          <iframe style="aspect-ratio: 16/9;" width="60%" height=100%" src="https://www.youtube.com/embed/iEcIItbhe7I?si=wjO6k5X8lyGc_xQa" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
        </center>
      </p>

      <p style="margin-left: 50px;">Relevant links:</p>
      <ul style="margin-left: 60px;">
        <li><a href="https://2023.igem.wiki/mcgill/" target="_blank" rel="noopener">Main McGill iGEM 2023 Wiki Page</a></li>
        <li><a href="https://2023.igem.wiki/mcgill/education/" target="_blank" rel="noopener">Our Educational Initiatives</a></li>
        <li><a href="https://2023.igem.wiki/mcgill/entrepreneurship/" target="_blank" rel="noopener">Our Entrepreneurship Initiatives</a></li>
        <li><a href="https://2023.igem.wiki/mcgill/patient-consultations/" target="_blank" rel="noopener">Patient/Survivor Consultations</a></li>
      </ul>

      <p style="margin-left: 50px;">
        Some action shots of me presenting at the iGEM Competition:
      </p>
      <center><img src="/assets/images/igem_img1.png" class="project-image" alt="iGEM Figure 1 Placeholder" style="width:80%" style="margin-left: 50px;"></center>
      <center><div class="image-caption" style="margin-left: 50px;">Describing our plan for implementation of the therapeutic using viral vectors.</div></center>
      <br>
      <br>
      
      <center><img src="/assets/images/igem_img2.jpg" class="project-image" alt="iGEM Figure 2 Placeholder" style="width:80%" style="margin-left: 50px;"></center>
      <center><div class="image-caption" style="margin-left: 50px;">A view from the front of the crowd while I was presenting.</div></center>
      <br>
      
    </div>

    <!-- Ostrowski Lab -->
    <h3 class="DropdownPoint" onclick="OpenDropdown(this)">&#11166; Ostrowski Laboratory</h3>
    <div class="DropdownDiv">
      <p style="margin-left: 50px;">
        In first year summer of undergrad, I was working down at U of T with medical specialist Mario Ostrowski. Dr. Ostrowski completed his MD at U of T then went
        on to research HIV for over 30 years. At the time, I was fascinated by viral infections and began helping on a project exploring the effects of SARS-CoV-2
        vaccination on the stability of the HIV reservoir; basically, would COVID-19 vaccines be safe for people with HIV, or would they cause HIV to reactivate? I
        also supported on a project working with Hepatitis C, another incurable disease...
      </p>

      {% include embedpdf.html file="../assets/other/ostrowski_paper.pdf" %}

      <p style="margin-left: 50px;">
        For the HIV paper published in <a style="border-bottom:2px dotted;" href="https://pmc.ncbi.nlm.nih.gov/articles/PMC10370192/"> Cell</a>, I was primarily in
        charge of measuring patient-derived PBMC (peripheral blood mononuclear cell) responses to stimulation with SARS-CoV-2 antigen HIV proteins and controls. 
        The idea was to measure T cell response to SARS-CoV-2 for people living with HIV (PLWH) before and after vaccination to determine if vaccination is still
        beneficial for people with immunodeficiency virus. We also stimulated with HIV antigen to see if vaccination would have deleterious effects on the stability
        of the HIV reservoir. This involved measuring interferon gamma (IFNγ) and interleukin 2 (IL-2) responses, both pro-inflammatory cytokines, using ELISpot, a
        more quantitative ELISA in a sense.
      </p>

      <center><img src="/assets/images/ostrowski_img.png" class="project-image" alt="Ostrowski Figure 1 Placeholder" style="width:80%" style="margin-left: 50px;"></center>
      <center><div class="image-caption" style="margin-left: 50px;">I collected fundamentally all data for this figure and wrote the relevant paragraphs for this section of the publication.
      The goal of this figure is to establish that immune responders (IRs) indeed see a positive impact on their immune response to SARS-CoV-2, demonstrating
      the efficacy of vaccination.</div></center>
      <br>
      <br>
    
      <p style="margin-left: 50px;">
        While the initial plan was just to have me work on the T cell SARS-CoV-2 and HIV responses, I excelled in my role and was able to take on additional responsibility;
        This involved performing IPDAs (intact proviral DNA assays) to further validate the stability of the HIV reservoir post-vaccination. Luckily, with these
        assays, we also found that HIV genes were not upregulated with as many as three doses of SARS-CoV-2 vaccines, supporting the argument that vaccines were safe
        for PLWH (at least those not classified as PLWH with unsuppressed viremia).
      </p>

      <center><img src="/assets/images/ostrowski_img2.png" class="project-image" alt="Ostrowski Figure 2 Placeholder" style="width:80%" style="margin-left: 50px;"></center>
      <center><div class="image-caption" style="margin-left: 50px;">The data I collected for this figure basically supports that the vast majority of PLWH did not see significant increases 
        in intact HIV proviruses in their T cells post-vaccination, supporting that vaccination is safe for PLWH!</div></center>
      <br>
      <br>

      <p>
        All in all, it was really exciting to play a critical part in an investigation that had real-world impact on the health and safety of those suffering from
        HIV. The results of our study basically confirmed that vaccination would be safe for PLWH, drastically reducing the risk of life-threatening COVID-19 as a 
        result of opportunistic infection in people living with HIV. This was my first real-world experience where I realized how research directly leads to tangible
        change. This would be the first of many moments throughout my undergrad career.
      </p>
    </div>

    <!-- Nomic Bio -->
    <h3 class="DropdownPoint" onclick="OpenDropdown(this)">&#11166; Nomic Bio — Assay Engineering & R&D Intern</h3>
    <div class="DropdownDiv">
      <p><a href="https://nomic.bio/" target="_blank" rel="noopener">Nomic Bio</a> builds high-throughput, highly multiplexed proteomic solutions (the “Omni 1000” and nELISA technologies) designed to democratize proteomics by making broad protein profiling fast, sensitive and affordable. During my internship on the Assay Engineering and R&D team I was the youngest employee hired at the time and I worked on improving assay sensitivity and robustness so the platform could detect biologically relevant signatures and biomarkers across diverse disease contexts.</p>

      <p>My work focused on assay optimization (sample handling, normalization strategies, and tuning assay conditions) and on downstream analysis pipelines that help turn high-dimensional protein measurements into actionable insights for diagnosis and biomarker discovery. The improvements I contributed to helped the team better capture subtle disease-related signals and improved the platform’s ability to inform biomarker hypotheses.</p>

      <p>Suggested images / placeholders for Nomic work (upload these to `assets/images/`):</p>
      <img src="/assets/images/nomic_platform.png" class="project-image" alt="Nomic platform placeholder">
      <div class="image-caption">Suggested: nomic_platform.png — product / platform schematic from Nomic</div>

      <img src="/assets/images/nomic_assay_results.png" class="project-image" alt="Nomic assay results placeholder">
      <div class="image-caption">Suggested: nomic_assay_results.png — example assay sensitivity graph or heatmap</div>

      <p>Relevant company page describing the platform: <a href="https://nomic.bio/" target="_blank" rel="noopener">Nomic Bio homepage</a>. (The Nomic site describes the Omni 1000 and nELISA technology; I recommend using an official figure from the company site or a figure from your lab notes — placeholder names above make it straightforward to replace.)</p>

      <p><strong>Where to put figures from your work:</strong> I suggest placing an experimental result figure (e.g., sensitivity improvement plot) into <code>/assets/images/nomic_assay_results.png</code>, and a schematic of the platform into <code>/assets/images/nomic_platform.png</code>. You can also add a small caption just below each placeholder to explain the panel.</p>
    </div>

    <!-- Baker Lab -->
    <h3 class="DropdownPoint" onclick="OpenDropdown(this)">&#11166; Baker Lab (IPD) — Protease Design Against Amyloid Fibres</h3>
    <div class="DropdownDiv">
      <p>At the Baker Lab in Seattle I worked on a protein design workflow aimed at engineering proteases to target amyloidogenic proteins implicated in neurodegenerative disease. The design pipeline I used typically moves from generative backbone construction → sequence recovery → in silico filtering → structural validation:</p>

      <ol>
        <li><strong>RFDiffusion / generative backbone design</strong> — building candidate backbone geometries compatible with the desired active site or binding interface.</li>
        <li><strong>ProteinMPNN</strong> — running sequence design to propose amino-acid sequences that fold to the designed backbone.</li>
        <li><strong>AlphaFold (AlphaFold3 / AF2/AF3)</strong> — structure prediction to validate whether the designed sequence actually folds to the target conformation and to assess confidence metrics (pLDDT, interface RMSD, etc.).</li>
        <li><strong>Filtering</strong> — selecting top designs based on predicted stability, interface metrics, and retained catalytic geometry for proteolytic activity.</li>
      </ol>

      <p>My contributions included running design jobs, filtering and ranking candidates, and creating visualizations (PyMOL snapshots) of top designs. I also helped prepare sequences for downstream experimental testing and annotated designs for ease of reproduction. Below are placeholders so you can paste high-resolution images of the PyMOL structures and design figures.</p>

      <p>Suggested placeholders for Baker lab images (upload to <code>/assets/images/</code>):</p>
      <img src="/assets/images/baker_design1.png" class="project-image" alt="Baker design 1 placeholder">
      <div class="image-caption">Suggested: baker_design1.png — PyMOL image of designed protease (binding pose)</div>

      <img src="/assets/images/baker_design2.png" class="project-image" alt="Baker design 2 placeholder">
      <div class="image-caption">Suggested: baker_design2.png — catalytic site close-up or designed active site</div>

      <p>Short workflow note you can expand on your site: after design and in silico filtering, we typically synthesize top candidates and test in vitro for cleavage of model amyloid substrates. Designs that show activity are iteratively optimized for specificity and stability.</p>
    </div>
    <br>
    <br>
  </p>
  {% include photo-gallery.html %}
</article>

<script>
  function OpenDropdown(element) 
  {
    var x = element.nextElementSibling;
    if (x.style.display === "none" || x.style.display === "") 
    {
      x.style.display = "block";
    } 
    else 
    {
      x.style.display = "none";
    }
  }
</script>
