<nav style="width: 100%;">
  {%- for item in include.menu -%}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title -%}
    <div class="nav-item" data-icon-name="{{ item.icon }}">
      <a href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
        {{ title }}
      </a>

      {%- if item.submenu -%}
        <div class="dropdown">
          {%- for subitem in item.submenu -%}
            {%- assign subnode = site.pages | where: "name", subitem.file | first -%}
            {%- assign suburl = subitem.url | default: subnode.url -%}
            {%- assign subtitle = subitem.title | default: subnode.title -%}
            <a href="{{ suburl | relative_url }}" data-icon-name="{{ subitem.icon }}">
              {{ subtitle }}
            </a>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  {%- endfor -%}
</nav>

<script>
  // Path to your public JSON file
  const jsonPath = '/assets/fontawesome/icons.json';

  fetch(jsonPath)
    .then(resp => resp.json())
    .then(icons => {
      // Replace all menu items that have data-icon-name
      document.querySelectorAll('[data-icon-name]').forEach(el => {
        const iconName = el.getAttribute('data-icon-name');
        if (!iconName || !icons[iconName]) return;

        const iconEntry = icons[iconName];
        const style = iconEntry.styles[0]; // pick first style (solid/regular/brands)
        const svgObj = iconEntry.svg[style];
        if (!svgObj) return;

        const svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
        svg.setAttribute("class", "icon");
        svg.setAttribute("xmlns", "http://www.w3.org/2000/svg");
        svg.setAttribute("viewBox", svgObj.viewBox.join(' '));

        const path = document.createElementNS("http://www.w3.org/2000/svg", "path");
        path.setAttribute("d", svgObj.path);
        svg.appendChild(path);

        // Prepend SVG to the link
        const link = el.querySelector('a');
        if (link) link.insertBefore(svg, link.firstChild);
      });
    })
    .catch(err => console.error("Failed to load icons JSON:", err));
</script>











<!--<nav style="width: 100%;">
  {%- for item in include.menu -%}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title -%}
    <div class="nav-item">
      <a href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
        {%- if item.icon -%}
          {%- assign icon_name = item.icon -%}
          {%- assign icon_entry = site.data.font_awesome.icons[icon_name] -%}
          {%- if icon_entry -%}
            {%- assign style = icon_entry.styles[0] -%}
            {%- assign svg_obj = icon_entry.svg[style] -%}
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="{{ svg_obj.viewBox | join: ' ' }}">
              {{ svg_obj.path }}
            </svg>
          {%- else -%}
            {{ title }}
          {%- endif -%}
        {%- else -%}
          {{ title }}
        {%- endif -%}
      </a>

      {%- if item.submenu -%}
        <div class="dropdown">
          {%- for subitem in item.submenu -%}
            {%- assign subnode = site.pages | where: "name", subitem.file | first -%}
            {%- assign suburl = subitem.url | default: subnode.url -%}
            {%- assign subtitle = subitem.title | default: subnode.title -%}
            <a href="{{ suburl | relative_url }}">
              {%- if subitem.icon -%}
                {%- assign sub_icon_name = subitem.icon -%}
                {%- assign sub_icon_entry = site.data.font_awesome.icons[sub_icon_name] -%}
                {%- assign sub_style = sub_icon_entry.styles[0] -%}
                {%- assign sub_svg_obj = sub_icon_entry.svg[sub_style] -%}
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="{{ sub_svg_obj.viewBox | join: ' ' }}">
                  {{ sub_svg_obj.path }}
                </svg>
              {%- else -%}
                {{ subtitle }}
              {%- endif -%}
            </a>
          {%- endfor -%}
        </div>
      {%- endif -%}

    </div>
  {%- endfor -%}
</nav>-->
